@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-indent-64 {
        text-indent: 5rem;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    @apply font-normal font-sans text-base;
}

h1,
h2,
h3,
h4,
h5 {
    margin: revert;
    font-size: revert;
    @apply font-bold;
    @apply leading-10;
}

hr {
    @apply my-12;
}

p, ul, ol, table {
    @apply mb-4;
}

.remark-highlight {
    @apply mb-8;
}

ul, ol {
    @apply pl-6;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

table {
    @apply w-full border border-purple-100;
    word-break: break-word;
}

th, td {
    @apply py-3 px-4 border-t border-b border-purple-100;
}

th {
    @apply border-b-2 border-t-0 border-purple-400 text-left;
}

a {
    @apply text-purple-500 underline;
}

a:hover {
    @apply no-underline;
}

pre {
    @apply my-5;
    @apply whitespace-pre;
    @apply px-4;
}

code {
    word-break: break-word;
    @apply whitespace-pre;
}

fieldset {
    @apply contents;
}

li.list-menu-bullet:before {
    content: '';
    @apply block;
    @apply border-solid;
    @apply h-0;
    @apply relative;
    @apply top-4;
    @apply -left-4;
    @apply w-0;
    border-color: transparent #a9b1bd;
    border-width: 0.25em 0 0.25em 0.35em;
}

li.list-menu-bulle-rotated:before {
    transform: rotate(90deg);
}

.select-label::after {
    /* @apply right-2.5; */
    content: '';
    right: 10px;
    @apply top-2;
    @apply absolute;
    @apply inline-block;
    @apply border;
    @apply border-t-0;
    @apply border-l-0;
    @apply border-r-2;
    @apply border-b-2;
    @apply p-1;
    @apply transform;
    @apply rotate-45;
}