/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.dotcms-o {
    @apply bg-dot-letter;
    @apply rounded-full;
    @apply inline-block;
    @apply w-5;
    @apply h-5;
}

.search-documentation {
    @apply bg-white;
    @apply rounded;
    @apply h-8;
    @apply border;
    @apply border-secondary;
}

.search-documentation > input {
    @apply font-roboto;
    @apply text-sm;
    @apply h-4;
    @apply text-gray-secondary;
    @apply outline-none;
    @apply pl-4;
}

.selector-version {
    @apply bg-white;
    @apply rounded;
    @apply w-40;
    @apply h-8;
    @apply text-xs;
    @apply border;
    @apply border-secondary;
    @apply text-gray;
    @apply pl-4;
}

h1, h2, h3, h4, h5 {
    @apply font-bold;
    @apply font-roboto;
    @apply text-black;
    @apply my-3;
}

h1{
    @apply text-4xl;
    @apply my-3;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-xl;
}

pre {
    @apply overflow-hidden;
    @apply my-5;
}

.aside-menu-container {
    @apply border;
    @apply border-secondary;
    @apply py-8;
    @apply px-10;
}

.aside-menu-container .aside-menu{
    @apply text-gray-200;
}

ul{
    @apply list-disc;
    @apply pl-4;
}

ol{
    @apply list-decimal;
    @apply pl-8;
}

li.aside-menu-list-item:before{
    border-color: transparent #A9B1BD;
    border-style: solid;
    border-width: 0.25em 0 0.25em 0.35em;
    content: "";
    display: block;
    height: 0;
    left: -1em;
    position: relative;
    top: 1.0em;
    width: 0;
}

a.aside-menu-link {
    @apply font-normal;
    @apply font-roboto;
    @apply text-sm;
    @apply text-gray
}

p {
    @apply font-normal;
    @apply text-sm;
    @apply text-black;
    @apply font-roboto;
}

li.active-item {
    @apply text-purple;
    @apply border-b-2;
    @apply border-primary;
}
