.documentationErrors {
    border-radius: var(--size-gap-half);
    background-color: var(--color-ansi-bg);
    color: var(--color-ansi-fg);
}
.documentationErrors::selection,
.documentationErrors *::selection {
    background-color: var(--color-ansi-selection);
}
.documentationErrors * {
    color: inherit;
    background-color: transparent;
    font-family: var(--font-stack-monospace);
}
.documentationErrors > * {
    margin: 0;
    padding: calc(var(--size-gap) + var(--size-gap-half))
        calc(var(--size-gap-double) + var(--size-gap-half));
}
.documentationErrors pre {
    white-space: pre-wrap;
    word-break: break-word;
}